/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.

----------------------------------------------------------------------------------------
*/

// SNV calling

process {

    withName: '.*STRELKA_SOMATIC' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_calling/strelka/somatic/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,.command.*}"
            ]
    }

    withName: '.*STRELKA_GERMLINE' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_calling/strelka/germline/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,.command.*}"
            ]
    }
    withName: '.*SAGE_SOMATIC|SAGE_PASS_FILTER' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_calling/sage/somatic/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,*.dict,.command.*}"
            ]
    }
    withName: '.*SAGE_GERMLINE' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_calling/sage/germline/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,*.dict,.command.*}"
            ]
    }
    withName: '.*SAGE_TUMOR_ONLY_FILTER' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_calling/sage/somatic/tumor_only_filter/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,*.dict,.command.*}"
            ]
    }
}
