/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/
// Pave configs

process {

    withName: '.*VCF_PAVE_SOMATIC:PAVE' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/pave/somatic/${meta.id}/" },
                pattern: "*{.vcf*,.tbi*}"
        ]
    }
    withName: '.*VCF_PAVE_GERMLINE:PAVE' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/pave/germline/${meta.id}/" },
                pattern: "*{.vcf*,.tbi*}"
        ]
    }

    withName: '.*VCF_SNPEFF_SOMATIC:SNPEFF_SNPEFF' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/snpeff/somatic/${meta.id}/" },
                pattern: "*{.vcf*,.txt*,.html*,.csv*}"
        ]
    }
    withName: '.*VCF_SNPEFF_SOMATIC:SNPEFF_VCF_TO_BCF' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/snpeff/somatic/${meta.id}/" },
                pattern: "*{.bcf*}"
        ]
    }
    withName: '.*VCF_SNPEFF_GERMLINE:SNPEFF_SNPEFF' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/snpeff/germline/${meta.id}/" },
                pattern: "*{.vcf*,.txt*,.html*,.csv*}"
        ]
    }
    withName: '.*VCF_SNV_MULTIPLICITY:SNV_MULTIPLICITY' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/snv_multiplicity/${meta.id}/" },
                pattern: "*{.rds*}"
        ]
    }
    withName: '.*VCF_SNPEFF_GERMLINE:SNPEFF_VCF_TO_BCF' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotations/snpeff/germline/${meta.id}/" },
                pattern: "*{.bcf*}"
        ]
    }
}
