# guards against accidental runs
work/
data/
results/
.nextflow*

# usual stuff
.DS_Store
*.pyc
.spec.md
**/*/build/

# test data
.nf-test/
.nf-test.log
bin/gosh/gosh.egg*
bin/gosh/tests/test_data/
bin/gosh/tests/test_data/
bin/gosh/tests/test_data/
tests/
.aider*
