# guards against accidental runs
work/
data/
results/
.nextflow*

# usual stuff
.DS_Store
*.pyc
.spec.md
**/*/build/

# test data
.nf-test/
.nf-test.log
bin/gosh/gosh.egg*
bin/gosh/tests/test_data/
bin/gosh/tests/test_data/
bin/gosh/tests/test_data/
tests/
.aider*
nf-gos.code-workspace
workflows/nf-gos.code-workspace
*workspace
dag.dot
*.vscode/settings.json*
.codex
bin/ichorCNA/session-ses_1eb3.md
stats-pid*
\#*
*\#*
\#**\#

.nextflow*
.codex*
*.code-workspace
execution_timeline*
execution_trace*
execution_report*
pipeline_dag*

ESVEE*
GRIDSS_*
null/coerce/coerced.txt
null/smoke/jabba/jabba.raw.rds
null/smoke/jabba/jabba.seg
null/smoke/jabba/jabba.simple.gg.rds
null/smoke/jabba/jabba.simple.rds
null/smoke/jabba/jabba.simple.vcf
null/smoke/jabba/karyograph.rds
null/smoke/jabba/opt.report.rds
