
// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'accelerator') {
        try {
            return Math.min( obj, params.max_accelerator as int )
        } catch (all) {
            println "   ### ERROR ###   Max gpu '${params.max_accelerator}' is not valid! Using default value: $obj"
            return obj
        }
    }
}


params {
    gridss_total_job_nodes = 1
    max_memory = 256.GB
    max_cpus = 36
    max_time = 120.h
}


def singularityModule = "singularity/3.11.5"

process {
    

    withName: 'PARABRICKS_FQ2BAM' {
        accelerator = [request: 2, type: "a100"]
        // accelerator = [request: 2, type: "v100"]
        clusterOptions = "--gres=gpu:${accelerator.type}:${accelerator.request}"
        queue = { 
            if (task.time <= 3.d) {
                return 'a100_short'
            } else {
                return 'a100_long'
            }
        }
        // containerOptions = { ( ${containerOptions} ?: "--nv" ) + " --bind ${NEXTFLOW_C_DIR}/memcap.so:/memcap.so" }
        // memory = { check_max( 72.GB * task.attempt, 'memory' ) } // Refers to CPU RAM requested on node
        memory = { check_max( Math.round(128 * Math.pow(1.6666667, task.attempt - 1)).GB, 'memory' ) } // Refers to CPU RAM requested on node
        cpus = 16 // Affects CPU RAM usage. Ideally should be divisible by accelerator.request value
        // time = { check_max( 24.h * task.attempt, 'time' ) } 
        time = { check_max( Math.round(8 * Math.pow(1.66666667, task.attempt - 1)).h, 'time' ) } 
        ext = [
            mem_limit: { (task.memory.toGiga() * 0.5).toInteger() }, 
            bwa_streams: 4, // Affects GPU memory usage, 1 for 16 GB, 2 for 16-40 GB, 4 for 40-80 GB (a100)
            low_memory_command: "", // Refers to memory on GPU device, not CPU RAM on node
            normalized_queue_capacity: 10 // Affects CPU RAM Usage. 10 is default. 5 is to make sure OOM doesn't occur. Ideally should be divisible by accelerator.request value
        ]
    }
    

    withName: 'FASTQC' {
        maxForks = 10
    }

    withName: 'FASTP' {
        maxForks = 10
    }

    withName: 'PARABRICKS_BAMMETRICS' {
        accelerator = [request: 1, type: "v100"]
        clusterOptions = "--gres=gpu:${accelerator.type}:${accelerator.request}"
        queue = { 
            if (task.time <= 4.h) {
                return 'gpu4_dev'
            } else if (task.time <= 12.h) {
                return 'gpu4_short,gpu8_short'
            } else if (task.time <= 3.d) {
                return 'gpu4_medium,gpu8_medium'
            } else {
                return 'gpu4_long,gpu8_long'
            }
        }
        cpus = 12
        memory = { check_max( Math.round(208 * Math.pow(1.6666667, task.attempt - 1)).GB, 'memory' ) } // Refers to CPU RAM requested on node
        time = { check_max( Math.round(3 * Math.pow(1.66666667, task.attempt - 1)).h, 'time' ) } 
        ext = [ // bespoke stuff..
            low_memory_command: "",
            mem_limit: { (task.memory.toGiga()).toInteger() }
        ]
    }

    withName: 'GPU_COLLECTMULTIPLEMETRICS' {
        accelerator = [request: 1, type: "v100"]
        clusterOptions = "--gres=gpu:${accelerator.type}:${accelerator.request}"
        time = { check_max( 8.h  * task.attempt, 'time'    ) }
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) } // Refers to CPU RAM requested on node
        cpus = { check_max( 8 * task.attempt, 'cpus'  ) } // Refers to CPU RAM requested on node
    }

    withName: 'GATK4_ESTIMATELIBRARYCOMPLEXITY' {
        time = { check_max( 12.h  * task.attempt, 'time'    ) }
        memory = { check_max( 48.GB * task.attempt, 'memory'  ) } // Refers to CPU RAM requested on node
        cpus = { check_max( 8 * task.attempt, 'cpus'  ) } // Refers to CPU RAM requested on node
    }


    withName: ".*GRIPSS_SOMATIC_FILTER.*" {
        memory = { check_max( 240.GB * task.attempt, 'memory' ) } // To avoid OOM killer.. sets the heapmem to 90% of this value in the pipeline
    }


    // default SLURM node config
    beforeScript = """
        module load $singularityModule
        module load java
        module load cuda
        module load aws-cli
    """
}


executor {
    name = 'slurm'
    queueSize = 200
    retry {
        delay = '10s'
        jitter = 0.75
        maxAttempts = params.get("maxAttempts_setting", 99999)
        maxAttempt = params.get("maxAttempts_setting", 99999)
        maxDelay = '180s'
    }
    killBatchSize = 500
    submitRateLimit = '100/10sec'
}
// 

singularity {
    enabled = true
    cacheDir = "/gpfs/data/imielinskilab/data/pipeline/container_images_cache"
}